*{
    border-radius: 3px;
}
body{
    padding: 0;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.background{
    background-image: url(background.png);
    min-height: 100vh;
    display: flex;
    /* flex-flow: column; */
    align-items: center;
    justify-content: center;
}
.house{
    width: 400px;
    height: 500px;
    background: rgba(255,255,255,0.1);
    display: flex;
    justify-content: center;
    align-content: center;
  

}
.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.img-con{
    width: 300px
}
.img-con img{
  width: 100%;
  border-radius: 49%;
  margin-bottom: 40px;
}
.login{
    width: 300px;
    background: rgb(11, 94, 11);
    /* padding: 10px; */
    text-align: center;
    font-weight: 600;

}
.login p{
    color: white;
    font-size: 20px;
    
}